.btn-secondary,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}
.btn-secondary:hover{
  color: rgba(243, 160, 16, 0.93);
}
#fixednav{
  background-image:url("../image/website.png");
  background-repeat:no-repeat;
  background-size:cover;
}
#nobg{
  background:transparent;
  color:#F5BF5B;
}
#paragraph{
  text-align:center;
  text-justify:justify;
}
#bold{
  color:floralwhite;
  font-weight:bold;
}
masthead {
  margin-bottom: 2rem;
  position:sticky;
  top: 0;
}

.masthead-brand {
 margin-top:7px;
  color: rgba(243, 160, 16, 0.93);
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: bold;
  color: rgba(226, 152, 13, 0.93);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255,255,255,.25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


myNavbar {
  position: relative;
}

#myNavbar .nav {
  position: absolute; 
  bottom: 0; 
  right: 0;
  margin-bottom: -10px;
}
#relative{
}
fieldset {
  border: thin solid #ccc; 
  border-radius: 4px;
  padding: 20px;
  padding-left: 40px;
  background: #fbfbfb;
}
legend {
 color: #678;
}
.form-control {
  width: 95%;
}
label small {
  color: #678 !important;
}
span.req {
  color:maroon;
  font-size: 112%;
}
#forms{
  position:relative;

}
.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}
#pad{
  padding:20px;
}
#footer{
  background:#40454B;
  background-size:cover;
  background-repeat:repeat-y;
  margin-top:10px;
  margin-bottom:0px;
}
#span3{
  text-align:left;
  padding:6px;
  color:floralwhite;
  
}
#span3 h4{
  color:  rgba(243, 160, 16, 0.93);
 
}
#span3 ul li{
  list-style:none;
}